<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
      <nav class="site-nav right">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
      
      {% for link in site.links1 %}
        {% assign count = 0 %}
        {% if link.type == site.blog_1 %}
          {% for post in site.posts }
            {% assign count = count | plus: 1 %}
          {% endfor %}
        {% endif %}
      
        {% if link.type == site.blog_2 %}
          {% for post in site.posts }
            {% if post.pingxie %}
              {% assign count = count | plus: 1 %}
            {% endif %}
          {% endfor %}
        {% endif %}
      
      {% endfor %}
      
    </div>
  </div>
</header>
